body{
    background-color: black;
    color: aliceblue;
}
button{
    background-color:rgba(200, 94, 250, 0.76);
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
    
}
button:hover{
    background-color: aliceblue;
    color:rgba(15, 15, 15, 0.76);
}